.logo {
  padding: 18px 50px 18px 50px;
  border-radius: 60px;
}

.form {
  ion.item {
    border-radius: 5px;
    border-color: red;
    border-width: 2px;
    border-style: solid;
    margin-bottom: 10px;
  }
}
.correo {
  margin-left: 1cm;
  border-bottom: 1px solid #404649;
  margin-right: 1cm;
}
.contraseña {
  margin-left: 1cm;
  border-bottom: 1px solid #404649;
  margin-right: 1cm;
}
.btnInicio {
  background-color: grayscale($color: #232428);
  color: white;
  padding: 10px 10px 10px 10px;
  // border-radius: 50px;
  font-size: 20px;
  border: 1px solid #363e42;
}
.btnRegistrar {
  background-color: grayscale($color: #232428);
  color: white;
  padding: 2px 10px 2px 10px;
  // border-radius: 50px;
  font-size: 20px;
  border: 1px solid #363e42;
}
ion-button {
  text-transform: none;
  color: red;
}

.asistenciavial {
  background-image: url("http://autoconectado.cabsegurosequinoccial.com/templates/yootheme/cache/home-funcion-09-10ba4b36.jpeg");
  background-repeat: no-repeat;
  background-size: auto;
}
