
  <ion-header >
    <ion-toolbar>

      <ion-title size="center">Asistencia Vial</ion-title>
      <ion-buttons slot="start">
        <ion-button [routerLink]="['/bienvenido']">
          <ion-icon slot="icon-only" name="chevron-back-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-content class="bg-image" padding>
      <img alt="asistenciavial" class="logo"
        src='http://autoconectado.cabsegurosequinoccial.com/templates/yootheme/cache/home-funcion-09-10ba4b36.jpeg'>
        <ion-input [(ngModel)]="credenciales.correo" class="correo" placeholder='Correo Electrónico'></ion-input>
<h5>
</h5>
        <ion-input [(ngModel)]="credenciales.password" class="contraseña" placeholder='Contraseña' type='password'>
        </ion-input>
        

      <button href="#"  [routerLink]="['/miperfil']">
        Iniciar Sesión

      </button>

      <button  [routerLink]="['/login']">
        Registrarse
      </button>
  </ion-content>