.logo {
  padding: 18px 50px 18px 50px;
  border-radius: 60px;
}

.form {
  ion.item {
    border-radius: 5px;
    border-color: red;
    border-width: 2px;
    border-style: solid;
    margin-bottom: 10px;
  }
}
.correo {
  margin-left: 1cm;
  border-bottom: 1px solid #23363f;
  margin-right: 1cm;
}
.contraseña {
  margin-left: 1cm;
  border-bottom: 1px solid #23363f;
  margin-right: 1cm;
}
.btnInicio {
  margin-top: 2%;
  margin-left: 9%;
  background-color: grayscale($color: #232428);
  color: white;
  //padding: 10px 10px 10px 10px;
  border-radius: 50px;
  font-size: 20px;
  width: 80%;
  position: relative;
  height: 40px;
  //smargin: 9%;
  border: 1px solid #363e42;
}     
.btnRegistrar{
  margin-top: 2%;
  margin-left: 9%;
  background-color: grayscale($color: #232428);
  color: white;
  //padding: 10px 10px 10px 10px;
  border-radius: 50px;
  font-size: 20px;
  width: 80%;
  position: relative;
  height: 40px;
  //smargin: 9%;
  border: 1px solid #363e42;
}


.olvidastetucontraseña{
  margin-top: 2%;
  margin-left: 9%;
  //background-color: grayscale($color: #232428);
  //color: white;
  //padding: 10px 10px 10px 10px;
  //border-radius: 50px;
  font-size: 12px;
  width: 80%;
  position: relative;
  height: 40px;
  //smargin: 9%;
  //border: 1px solid #363e42;
}

.saltar {
  margin-top: 13%;
  margin-left: 80%;
  background-color:  grayscale($color: #232428);
  color: white;
  padding: 2px 10px 2px 10px;
  // border-radius: 50px;
  font-size: 18px;
  border-radius: 50px;
  border: 1px solid #363e42;
 // border: 1px solid #363e42;
  
  // color: white;
}

