.logo {
  padding: 18px 50px 18px 50px;
  border-radius: 60px;
}

.form {
  ion.item {
    border-radius: 5px;
    border-color: red;
    border-width: 2px;
    border-style: solid;
    margin-bottom: 10px;
  }
}
.correo {
  margin-left: 1cm;
  width: 470px;
  border-bottom: 1px solid #ffffff;
}
.contraseña {
  margin-left: 1cm;
  width: 470px;
  border-bottom: 1px solid #ffffffc4;
}
.btnInicio {
  margin-top: 2%;
  margin-left: 9%;
  background-color: grayscale($color: #232428);
  color: white;
  //padding: 10px 10px 10px 10px;
  border-radius: 50px;
  font-size: 20px;
  width: 80%;
  position: relative;
  height: 40px;
  //smargin: 9%;
  border: 1px solid #363e42;
}
.btnRegistrar {
  margin-top: 2%;
  margin-left: 9%;
  background-color: grayscale($color: #232428);
  color: white;
  //padding: 10px 10px 10px 10px;
  border-radius: 50px;
  font-size: 20px;
  width: 80%;
  position: relative;
  height: 40px;
  //smargin: 9%;
  border: 1px solid #363e42;
}

.olvidastetucontraseña {
  margin-top: 2%;
  margin-left: 9%;

  font-size: 12px;
  width: 80%;
  position: relative;
  height: 40px;
}

.saltar {
  margin-top: 13%;
  margin-left: 80%;
  background-color: grayscale($color: #232428);
  color: white;
  padding: 2px 10px 2px 10px;
  font-size: 18px;
  border-radius: 50px;
  border: 1px solid #363e42;
}
ion-content.bg-image{
  --background: url(https://static.vecteezy.com/system/resources/previews/002/901/618/non_2x/black-texture-background-free-photo.jpg) 0 0/100% 100% ;

}