<ion-content>
  <ion-header class="ion-text-center">
    <ion-toolbar>
      <ion-title size="center">Asistencia Vial</ion-title>
    </ion-toolbar>


  </ion-header>
  <ion-header class="ion-text-center">
    <div>
     
    </div>
    <ion-toolbar>

      <div class="ion-text-center">
        <img alt="asistencia vial"
          src='http://autoconectado.cabsegurosequinoccial.com/templates/yootheme/cache/home-funcion-09-10ba4b36.jpeg'>
      </div>


      <div class="form">
        <ion-item lines='none'>
          <ion-input placeholder='Correo Electrónico'></ion-input>
        </ion-item>


        <ion-item lines='none' short='block'>
          <ion-input placeholder='Contraseña' type='password'></ion-input>
        </ion-item>

        <ion-button (click)='presentLoading($event)' color='light blue' short='block' [routerLink]="['/miperfil']">
          Iniciar Sesión

        </ion-button>

        <ion-button (click)='presentLoading($event)' color='light green' short='block' [routerLink]="['/login']">
          Registrarse

        </ion-button>
      </div>
      <ion-button fill='clear'>¿Olvidaste tu contraseña?</ion-button>
      
    </ion-toolbar>
  </ion-header>

  
</ion-content>