<ion-content>
  <ion-header class="ion-text-center">

    <ion-toolbar>
      <ion-title>Mi Auto </ion-title>
      <ion-buttons slot="start">
        <ion-button [routerLink]="['/miperfil']">
          <ion-icon slot="icon-only" name="chevron-back-outline"></ion-icon>
        </ion-button>
        
      </ion-buttons>
    </ion-toolbar>


    <ion-avatar>
      <img alt="auto"
        src="https://img.autocosmos.com/contenidos/galerias/800x600/GAZ_29428cb566924b69821f49af632625bf.jpg">
    </ion-avatar>
  </ion-header>

  <ion-list>
    <div *ngFor="let Auto of autos">
      <ion-item>

        <ion-label class="miauto">
          <ion-icon name="shield"></ion-icon>
          Marca: {{Auto.marca}}</ion-label> 
      </ion-item>
      <ion-item>
        <ion-label>
          <ion-icon name="car"></ion-icon>
          Modelo: {{Auto.modelo}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          <ion-icon name="color-palette-outline"></ion-icon>
          Color: {{Auto.color}}  </ion-label>
      </ion-item>

    </div>
  </ion-list>
</ion-content>