<ion-header class="ion-no-border">

  <ion-toolbar>

    <ion-title color="blue">Mi Ubicación</ion-title>

    <ion-buttons slot="start">
      <ion-buttons [routerLink]="['/miperfil']">
        <ion-icon slot="start" name="chevron-back-outline">

          <ion-button [routerLink]="['/inicio']">
            <ion-icon slot="start" name="home-outline"></ion-icon>
          </ion-button>

        </ion-icon>
      </ion-buttons>

    </ion-buttons>

    <ion-button slot="end" [routerLink]="['/inicio']">
      <ion-icon name="home-outline"></ion-icon>
    </ion-button>

  </ion-toolbar>
  <iframe
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1942.7404977698257!2d-78.99894989399034!3d-2.8985191440455345!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x91cd181675908f61%3A0x6f12861e6ea10317!2sTecnol%C3%B3gico%20Sudamericano!5e0!3m2!1ses!2sec!4v1636644307427!5m2!1ses!2sec"
    width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>

  <ion-toolbar>
    <ion-button (click)="compartirmiubicacion()" size="large">
      <ion-icon slot="start" name="navigate-outline"></ion-icon>Compartir Ubicación
    </ion-button>