<ion-content class="background"  >
  <ion-toolbar color="mycolor">
    <ion-title>Registrarse</ion-title>
    <ion-buttons slot="start">
      <ion-button [routerLink]="['/login']">
        <ion-icon slot="icon-only" name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-title color="white"></ion-title>
  <div>
    <ion-title></ion-title>
  </div>
  <ion-input></ion-input>
  <ion-input></ion-input>
  <ion-input class="texto1">¿Que tipo es tu vehiculo?</ion-input>
  <ion-input></ion-input>
  <ion-input class="cuadro" placeholder=''></ion-input>
  <ion-input></ion-input>
 <ion-input class="texto2">¿Que marca es tu vehiculo?</ion-input>
 <ion-input></ion-input>
  <ion-input class="cuadro" placeholder=''></ion-input>
  <ion-input></ion-input>
  <ion-input class="texto3">Dinos el modelo</ion-input>
  <ion-input></ion-input>
  <ion-input class="cuadro" placeholder=''></ion-input>
  <ion-input></ion-input>
  <ion-input class="texto4">El color de tu vehiculo</ion-input>
  <ion-input></ion-input>
  <ion-input class="cuadro" placeholder=''></ion-input>
  <ion-input></ion-input>
  <ion-input class="texto5">¿De que año es?</ion-input>
  <ion-input></ion-input>
  <ion-input class="cuadro" placeholder='' type='password'></ion-input>
  <ion-input></ion-input>
  <ion-input></ion-input>
  <button class="btn1" [routerLink]="['/miperfil']" >Registrarme
  </button>
</ion-content>
