<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-menu-button></ion-menu-button>
      <ion-title>
        Cronómetro
      </ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid style="margin-top:200px">
    <ion-row class="ion-justify-content-center">
      <ion-col size="3" class="ion-text-center">
        <div class="minutos">
          <div *ngIf="minutos < 10 ">
            0{{minutos}}
          </div>  
          <div *ngIf="minutos >= 10 ">
            {{minutos}}
          </div>
        </div> 
      </ion-col>
      <ion-col size="3" class="ion-text-center">
        <div class="minutos">
          <div *ngIf="segundos < 10 ">
            0{{segundos}}
          </div>  
          <div *ngIf="segundos >= 10 ">
            {{segundos}}
          </div>
        </div> 
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-col size="4">
        <ion-button color="secondary" (click)="play()">
          <ion-label> Iniciar </ion-label>
          <ion-icon slot="end" name="play-outline"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col size="4">
        <ion-button color="primary" (click)="reiniciar()">
          <ion-label> Reiniciar </ion-label>
          <ion-icon name="refresh-outline"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>