<ion-content class="bg-image" padding *ngFor="let mecanicoAutomotriz of mecanicoAutomotrizs">
  <ion-toolbar class="menu">
    <ion-buttons slot="start">
      <ion-button [routerLink]="['/servicios']">
        <ion-icon slot="icon-only" name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title color="white">Mecánico Automotriz</ion-title>
  </ion-toolbar>

  <ion-card class="texto">
    <ion-card-header><ion-icon name="person"></ion-icon>
      Nombre:
    </ion-card-header>
    <ion-card-content>
      <ion-label> {{mecanicoAutomotriz.Nombre}} </ion-label>
    </ion-card-content>
  </ion-card>

  <ion-card class="texto">
    <ion-card-header><ion-icon name="wallet-sharp"></ion-icon>
      Precio Minimo:
    </ion-card-header>
    <ion-card-content>
      <ion-label> {{mecanicoAutomotriz.PrecioMinimo}} </ion-label>
    </ion-card-content>
  </ion-card>
  
  <ion-card class="texto">
    <ion-card-header><ion-icon name="call-sharp"></ion-icon>
      Telefono:
    </ion-card-header>
    <ion-card-content>
      <ion-label> {{mecanicoAutomotriz.Telefono}} </ion-label>
    </ion-card-content>
      <ion-button expand="full" class="button" [href]=" 'https://wa.me/593' + mecanicoAutomotriz.Telefono + '?text=Envia%20tu%20ubicacion%20:)'" target="blank">
       Whatsapp <ion-icon name="logo-whatsapp"></ion-icon>
        </ion-button>
        <ion-card-content>
        <button (click)="solicitarServicio(mecanicoAutomotriz)">
          Solicitar Servicio
        </button>
    </ion-card-content>
    <br><br><br><br>
  </ion-card>

  <div >

    <img class="gif" alt="imagenes" 
    src="  https://thumbs.gfycat.com/DisgustingSpiffyIguana-size_restricted.gif" >
  </div>

