<ion-header>
  <ion-toolbar>
    <ion-label>
      Grua
    </ion-label>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>
      Nombre: Mateo Perez
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-label>
      Precio minimo: $15.00
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-label>
      Numero: 0987654321
    </ion-label>
    <ion-item>
      <ion-label>
        <a href="https://api.whatsapp.com/send?phone=593995835806&text=Envia%20tu%20ubicacion%20:)" ion-button>Contactame! <ion-icon name="logo-whatsapp"></ion-icon></a>
      </ion-label>
    </ion-item>
  </ion-item>
</ion-content>

