<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button [routerLink]="['/servicios']">
        <ion-icon slot="icon-only" name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title color="white">Grúa</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngFor="let Grua of gruas">
  <ion-card>
    <ion-card-header>
      Nombre:
    </ion-card-header>
    <ion-card-content>
      <ion-label> {{Grua.Nombre}} </ion-label>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      Precio Minimo:
    </ion-card-header>
    <ion-card-content>
      <ion-label> {{Grua.PrecioMinimo}} </ion-label>
    </ion-card-content>
  </ion-card>
  
  <ion-card>
    <ion-card-header>
      Telefono:
    </ion-card-header>
    <ion-card-content>
      <ion-label> {{Grua.Telefono}} </ion-label>
    </ion-card-content>
  </ion-card>
<br><br>
  <ion-button expand="full" [href]=" 'https://wa.me/593' + Grua.Telefono + '?text=Envia%20tu%20ubicacion%20:)'" target="blank">
    Compartir Ubicacion actual <ion-icon name="logo-whatsapp"></ion-icon>
    </ion-button>
<br><br>
    <ion-footer>
      <button (click)="addPedido()">
        Solicitar Servicio
      </button>
      </ion-footer>
</ion-content>