<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button [routerLink]="['/servicios']">
        <ion-icon slot="icon-only" name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title color="white">Mecánico General</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="bg-image" padding *ngFor="let mecanicoGeneral of mecanicoGenerals">
  <ion-card class="texto">
    <ion-card-header><ion-icon name="person"></ion-icon>
      Nombre:
    </ion-card-header>
    <ion-card-content>
      <ion-label> {{mecanicoGeneral.Nombre}} </ion-label>
    </ion-card-content>
  </ion-card>

  <ion-card class="texto">
    <ion-card-header><ion-icon name="wallet-sharp"></ion-icon>
      Precio Minimo:
    </ion-card-header>
    <ion-card-content>
      <ion-label> {{mecanicoGeneral.PrecioMinimo}} </ion-label>
    </ion-card-content>
  </ion-card>
  
  <ion-card class="texto">
    <ion-card-header><ion-icon name="call-sharp"></ion-icon>
      Telefono:
    </ion-card-header>
    <ion-card-content>
      <ion-label> {{mecanicoGeneral.Telefono}} </ion-label>
    </ion-card-content>
  </ion-card>
<br><br>
  <ion-button expand="full" [href]=" 'https://wa.me/593' + mecanicoGeneral.Telefono + '?text=Envia%20tu%20ubicacion%20:)'" target="blank">
    Compartir Ubicacion actual <ion-icon name="logo-whatsapp"></ion-icon>
    </ion-button>
    <br><br>
    <ion-footer>
      <button (click)="addPedido()">
        Solicitar Servicio
      </button>
      </ion-footer>
</ion-content>