
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button [routerLink]="['/servicios']">
        <ion-icon slot="icon-only" name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title color="white">Mecánico General</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>
      Nombre: Pedro Áviles
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-label>
      Precio mínimo: $5.00
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-label>
      Numero: 0987654321
    </ion-label>
   
  </ion-item>
  <a href="https://api.whatsapp.com/send?phone=593995835806&text=Envia%20tu%20ubicacion%20:)" ion-button> Compartir ubicacion <ion-icon name="logo-whatsapp"></ion-icon>
  </a>
</ion-content>

<ion-item *ngFor= "let mecanicoGeneral of mecanicoGenerals">
  <ion-label> {{mecanicoGeneral.Nombre}} </ion-label>
  <ion-label> {{mecanicoGeneral.PrecioMinimo}} </ion-label>
  <ion-label> {{mecanicoGeneral.Telefono}} </ion-label>
</ion-item>