<ion-header >
  <ion-toolbar class="menu">
    <ion-title>
      <ion-icon name="grid-outline"></ion-icon> Menu
    </ion-title>
  </ion-toolbar>
</ion-header>
<div >

  <img class="gif" alt="imagenes" 
  src="https://user-images.strikinglycdn.com/res/hrscywv4p/image/upload/c_limit,fl_lossy,h_1440,w_720,f_auto,q_60/1187729/264803_843586.gif" >
</div>
<h4 class="text">
Ayuda Vial
</h4>
<br>

<ion-menu-toggle>
  <ion-item class="menuboton" *ngIf="login"  [routerLink]="['/miperfil']" routerLinkActive="router-link-active" >
    <ion-icon name="person-outline"></ion-icon>   Perfil
  </ion-item>
</ion-menu-toggle>

<ion-menu-toggle>
  <ion-item class="menuboton" *ngIf="login" [routerLink]="['/servicios']" routerLinkActive="router-link-active" >
    <ion-icon name="browsers-outline"></ion-icon>  Servicios
  </ion-item>
</ion-menu-toggle>

  <ion-menu-toggle>
  <ion-item class="menuboton" *ngIf="login == false" [routerLink]="['/login']" routerLinkActive="router-link-active" >
    <ion-icon name="albums-outline"></ion-icon>  Registrarse
  </ion-item>
</ion-menu-toggle>

  <ion-menu-toggle>
    <ion-item  class="menuboton" *ngIf="rol == 'visitante'" [routerLink]="['/mispedidos']" routerLinkActive="router-link-active" >
      <ion-icon name="pencil-outline"></ion-icon>  Mis pedidos
    </ion-item>
  </ion-menu-toggle>
  
    <ion-menu-toggle>
      <ion-item class="menuboton" *ngIf="rol == 'admin'" [routerLink]="['/pedidos']" routerLinkActive="router-link-active" >
        <ion-icon name="pencil-outline"></ion-icon>  Pedidos
      </ion-item>
    </ion-menu-toggle>


<ion-item class="menuboton" *ngIf="login == false" [routerLink]="['/inicio']" routerLinkActive="router-link-active" >
  <ion-icon name="log-in-outline"></ion-icon>  Log in
</ion-item>



<ion-item class="menuboton" *ngIf="login" (click)="logout()" >
  <ion-icon name="log-out-outline"></ion-icon>  Log out
</ion-item>

<div >
  <img class="imagen" alt="imagenes" 
  src="https://cdn.goconqr.com/uploads/media/image/15141511/desktop_d281eafa-3cfd-44ca-a6df-3873d1d98330.png" >
</div>