<ion-header>
  <ion-toolbar>
    <ion-title>
      Menu
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-button [routerLink]="['/inicio']" routerLinkActive="router-link-active" >
  Home
</ion-button>
<br>
<ion-button [routerLink]="['/login']" routerLinkActive="router-link-active" >
  Log in
</ion-button>
<br>
<ion-button [routerLink]="['/login']" routerLinkActive="router-link-active" >
  Log out
</ion-button>
<br>
<ion-button [routerLink]="['/servicios']" routerLinkActive="router-link-active" >
  Servicios
</ion-button>
