.gif{
    margin-top: -20%;
margin-bottom: -20%;
} 
.text{
    text-align: center;
}
.menu{
    --background: rgb(37, 136, 194);
  //border-bottom-left-radius: 5%;
  border-bottom-right-radius: 75%;
}
.menuboton{
    background-color: aqua;
    //--background: rgb(56, 53, 53);
}
.imagen{
    margin-top: 3%;
  size: 10px;
}