<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-menu-button></ion-menu-button>
      <ion-title>
        Asistencia
      </ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="floating">
      Ingrese nombre
      <ion-input [(ngModel)]="nombre">
      </ion-input>  
    </ion-label> 
  </ion-item>

  <ion-button expand = "full" color="light" (click)="registrar()">
      Registrar
  </ion-button>

  <ion-list>
    <ion-item *ngFor="let estudiante of estudiantes, let i = index">
      <ion-label>
        {{estudiante.nombre}}
        <p>
          {{estudiante.time | date: "medium"}}
        </p> 
      </ion-label>
      <ion-icon (click)="remove(i)" slot="end" name="trash-outline"></ion-icon>
    </ion-item>
  </ion-list>

</ion-content>