.foco-on{
    background: #e0b608;
    width: 150px;
    height: 150px;
    align-items: center;
    display: flex;
    justify-content: center;
    border-radius: 50px;
}

.foco-off {
    background:  #0d4f9b;
    width: 150px;
    height: 150px;
    align-items: center;
    display: flex;
    justify-content: center;
    border: radius 50px;
}

