<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button [routerLink]="['/servicios']">
        <ion-icon slot="icon-only" name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title color="white">Mecánico Eléctrico</ion-title>
  </ion-toolbar>
</ion-header>


<ion-card>
  <ion-card-header>
    Nombre:
  </ion-card-header>
  <ion-card-content>
    Pedro Sanchez
  </ion-card-content>
</ion-card>

<ion-card>
  <ion-card-header>
  Precio minimo:
  </ion-card-header>
  <ion-card-content>
    $ 20.00
  </ion-card-content>
</ion-card>

<ion-card>
  <ion-card-header>
    Numero:
  </ion-card-header>
  <ion-card-content>
    0987654321
  </ion-card-content>
</ion-card>

<ion-content>
  <a href="https://api.whatsapp.com/send?phone=593995835806&text=Envia%20tu%20ubicacion%20:)" ion-button>Compartir
    ubicacion <ion-icon name="logo-whatsapp"></ion-icon></a>
</ion-content>

<ion-item *ngFor="let mecanicoElectrico of mecanicoElectricos">
  <ion-label> {{mecanicoElectrico.Nombre}} </ion-label>
  <ion-label> {{mecanicoElectrico.PrecioMinimo}} </ion-label>
  <ion-label> {{mecanicoElectrico.Telefono}} </ion-label>
</ion-item>