<ion-header>
  <ion-toolbar>
    <ion-menu-button slot="start"></ion-menu-button>
    <ion-title>
      Mis pedidos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item *ngFor="let pedido of solicitud">
    <ion-card aria-expanded="true">
      <ion-card-header>
        <ion-card-title>Solicitud realizada</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-item>
          Nombre usuario: <br>
          {{pedido.usuario.nombre}} <br>
        </ion-item>
        <ion-item>
          Nombre mecanico: <br>
          {{pedido.servicio.Nombre}} <br>
        </ion-item>
        <ion-item>
          Estado pedido:  <br>
         {{pedido.estado}} <br>
        </ion-item>
        <ion-item>
          <label> Seleciona el estado</label>
          <ion-select (ionChange)="cambiarEstado(pedido, $event.detail.value)"[value]="pedido.estado" slot="end" okText="Seleccionar" cancelText="Cancelar" interface="popover">
            <ion-select-option *ngFor="let estado of estados" [value]="estado"> {{estado}} </ion-select-option>
          </ion-select>
        </ion-item>
      </ion-card-content>
    </ion-card>
  </ion-item>

  <br><br><br>
  <button>
    Eliminar todo
  </button>
</ion-content>
