<ion-content class="bg-image" aria-expanded="true" >
  <ion-toolbar class="menu">
    <ion-menu-button slot="start"></ion-menu-button>
    <ion-title>
      Mis pedidos
    </ion-title>
  </ion-toolbar>

<ion-card class="caja" *ngFor="let pedido of solicitud">
      <ion-card-header>
        <ion-card-title style="font-size:25px;">Solicitud realizada</ion-card-title>
      </ion-card-header>
      
<ion-item  class="card">
  <div class="text">
    Nombre usuario:</div> <br> 
   <h5><ion-title></ion-title></h5><br>
   <br><div class="text2"  size="center">
    {{pedido.usuario.nombre}}
 </div  >    <br>
 </ion-item>

 <ion-item  class="card">
  <div class="text">
    Telefono usuario:</div> <br> 
   <h5><ion-title></ion-title></h5><br>
   <br><div class="text2"  size="center"><ion-button expand="full" class="buttonn" [href]=" 'https://wa.me/593' + pedido.usuario.celular + '?text=Envia%20tu%20ubicacion%20:)'" target="blank"> <ion-icon class="whats" name="logo-whatsapp"></ion-icon>
    {{pedido.usuario.celular}} 
 </ion-button> </div  >    <br>
 </ion-item>

 <ion-item  class="card">
  <div class="text">
    Nombre mecanico:</div> <br> 
   <h5><ion-title></ion-title></h5><br>
   <br><div class="text2"  size="center" >
    {{pedido.servicio.Nombre}}
 </div  >    <br>
 </ion-item>

 <ion-item  class="card">
  <div class="text">
    Estado pedido:</div> <br> 
   <h5><ion-title></ion-title></h5><br>
   <br><div class="text2"  size="center">
    {{pedido.estado}} 
 </div  >    <br>
 </ion-item>

       <ion-card-content>
          <label> Seleciona el estado</label>
         <ion-select (ionChange)="cambiarEstado(pedido, $event)"[value]="pedido.estado" slot="end" okText="Seleccionar" cancelText="Cancelar" interface="popover">
            <ion-select-option *ngFor="let estado of estados" [value]="estado"> {{estado}} </ion-select-option>
          </ion-select> 
      </ion-card-content>
    </ion-card>

  <button>
    Eliminar todo
  </button>
  </ion-content>

