ion-content.bg-image{
    --background: url(https://static.vecteezy.com/system/resources/previews/002/901/618/non_2x/black-texture-background-free-photo.jpg) 0 0/100% 100% ;
  }
  .menu{
    border-radius: 20px;
    --background: rgb(37, 136, 194);
  //border-bottom-left-radius: 5%;
  
  }
  .text{
font-size: 25px;
  }
  .text2{

  }
  .textPrecio{
      margin-left: 9%;
  }

    .card{
    color: #ffffff;
    --background:rgba(168, 168, 168, 0); 
  }
  .button{
    --background:37 ;
  }
.whats{
  margin-right: 5px;
}