<ion-header>
  <ion-toolbar>
    <ion-title>
      Mis solicitudes
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
 <ion-item>
   <ion-card>
     <ion-card-header>
       <ion-card-title> Mis solicitudes</ion-card-title>
     </ion-card-header>
     <ion-card-content>
       <ion-item>
         <label> Estado de la solicitud </label> <br>
         {{pedido.estado}} <br>
         <label> Nombre del mecanico</label> <br>
         {{pedido.servicio.Nombre}} <br>
       </ion-item>
     </ion-card-content>
   </ion-card>
 </ion-item>
</ion-content>