<ion-content>
  <ion-header collapse="center">
    <ion-toolbar>
      <ion-title size="center">Registrarse💻</ion-title>
      <ion-buttons slot="start">
        <ion-button [routerLink]="['/inicio']">
          <ion-icon slot="icon-only" name="arrow-back-circle-sharp"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
    <ion-title color="white"></ion-title>


  </ion-header>
  <ion-header class="ion-text-center">
    <div>
      <ion-title></ion-title>
    </div>
    <ion-toolbar>


      <div class="ion-text-center">
        <img alt="RegistroAsistenciaVial"
          src='http://autoconectado.cabsegurosequinoccial.com/templates/yootheme/cache/home-funcion-09-10ba4b36.jpeg'>
      </div>


      <div class="form">
        <ion-item lines='none'>
          <ion-input placeholder='Correo Electrónico'></ion-input>
        </ion-item>


        <ion-item lines='none'>
          <ion-input placeholder='Contraseña' type='password'></ion-input>
        </ion-item>

        <ion-button color='light green' expand='block' [routerLink]="['/inicio']">Registrarse

        </ion-button>
      </div>
    </ion-toolbar>