
  ion-content.bg-image{
    --background: url(https://static.vecteezy.com/system/resources/previews/002/901/618/non_2x/black-texture-background-free-photo.jpg) 0 0/100% 100% ;
  
  }
  .barra{
    --background: rgb(66, 66, 66);
  }
.imagen{
  margin-top: 5%;
  margin: 0 auto;
  width: 100%;
  height: 0%;
}
.card{
  color: #ffffff;
  --background:rgba(168, 168, 168, 0.082); 
}

.btn1 {
  display:block;
  margin-left: auto;
  margin-right: auto;
  background-color: grayscale($color: #232428);
  color: white;
  padding: 10px 10px 10px 10px;
  border-radius: 15px;
  font-size: 20px;
  border: 1px solid #363e42;
}

.registrarse {
  margin-left: 23%;
}


.sesion {
  font-size: 100%;
}

.cuadro {
  border-radius: 10px;
  border: 1px solid #ffffff;
  margin-left: 30%;
  width: 40%;

}
.texto1 {
  display: flex;
  justify-content: center;

  font-size: 20px;
  font-family: monospace;
}
.texto2 {
  display: flex;
  justify-content: center;
  font-size: 20px;
  font-family: monospace;
}
.texto3 {
  display: flex;
  justify-content: center;
  font-size: 20px;
  font-family: monospace;
}
.texto4 {
  display: flex;
  justify-content: center;
  font-size: 20px;
  font-family: monospace;
}
.texto5 {
  display: flex;
  justify-content: center;
  font-size: 20px;
  font-family: monospace;
}
.texto6{
  display: flex;
  justify-content: center;
  font-size: 20px;
  font-family: monospace;
}
div.w-33 {
  width: 33.33%;
  background-color: orange;
}

div.center {
  text-align: center;
}
