.boton{
    margin-top: 5%;
    margin-left: 9%;
    background-color: grayscale($color: #232428);
    color: white;
   // padding: 50px 20px 50px 20px;
    border-radius: 60px;
    font-size: 20px;
    width: 80%;
    height: 300px;
    //smargin: 9%;
    border: 2px solid #363e42;

}
.inicio{
    padding: 20px 20px 20px 5px;
    font-size: 20px;
    background: rgb(29, 29, 29);
}

.logo{
    border-radius: 50px; 
}