<ion-header>
  <ion-toolbar>
    <ion-title>
      <button class="inicio" [routerLink]="['/inicio']" routerLinkActive="router-link-active" >      
        <ion-icon name="chevron-back-outline"></ion-icon></button>
      Servicios
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item>
    <button class="boton" [routerLink]="['/automotriz']" routerLinkActive="router-link-active" >
      Mecanico Automotriz
    </button>
  </ion-item>
  <ion-item>
    <button class="boton" [routerLink]="['/electrico']" routerLinkActive="router-link-active" >
      Mecanico Electrico
    </button>
  </ion-item>
  <ion-item>
    <button class="boton" [routerLink]="['/general']" routerLinkActive="router-link-active" >
      Mecanico General
    </button>
  </ion-item>
  <ion-item>
    <button class="boton" [routerLink]="['/grua']" routerLinkActive="router-link-active" >
      Grua
    </button>
  </ion-item>
</ion-content>
<ion-content>
  <ion-item>
    <ion-label>
      Compartir ubicacion mediante Whatsapp
    </ion-label>
  </ion-item>
  
<a href="https://api.whatsapp.com/send?phone=593995835806&text=Envia%20tu%20ubicacion%20:)" ion-button>Apriétame! <ion-icon name="logo-whatsapp"></ion-icon></a>
</ion-content>