<ion-header>
  <ion-toolbar>
    <ion-title>
      Servicios
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-button [routerLink]="['/automotriz']" routerLinkActive="router-link-active" >
      Mecanico Automotriz
    </ion-button>
  </ion-item>
  <ion-item>
    <ion-button [routerLink]="['/electrico']" routerLinkActive="router-link-active" >
      Mecanico Electrico
    </ion-button>
  </ion-item>
  <ion-item>
    <ion-button [routerLink]="['/general']" routerLinkActive="router-link-active" >
      Mecanico General
    </ion-button>
  </ion-item>
  <ion-item>
    <ion-button [routerLink]="['/grua']" routerLinkActive="router-link-active" >
      Grua
    </ion-button>
  </ion-item>
</ion-content>

<ion-content>
  <ion-item>
    <ion-label>
      Compartir ubicacion mediante Whatsapp
    </ion-label>
  </ion-item>
  
<a href="https://api.whatsapp.com/send?phone=593995835806&text=Envia%20tu%20ubicacion%20:)" ion-button>Apriétame! <ion-icon name="logo-whatsapp"></ion-icon></a>
</ion-content>