.boton{
    margin-top: 2%;
    margin-left: 9%;
    background-color: grayscale($color: #232428);
    color: white;
    //padding: 10px 10px 10px 10px;
    border-radius: 50px;
    font-size: 20px;
    width: 80%;
    position: relative;
    height: 40px;
    //smargin: 9%;
    border: 1px solid #363e42;
}
.inicio{
    padding: 20px 20px 20px 5px;
    font-size: 20px;
    background: rgb(29, 29, 29);
}