<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>Mensajes</ion-title>

    <ion-buttons slot="start">
      <ion-button [routerLink]="['/miperfil']">
        <ion-icon slot="icon-only" name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

</ion-header>
<ion-searchbar></ion-searchbar>

<ion-list>
  <ion-item>
    <ion-label>Su versión esta actualizada</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>En camino</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>En casa </ion-label>
  </ion-item>

</ion-list>

<ion-content>



  <ion-header collapse="condense">