<ion-item detail="true" [routerLink]="['/miauto']">
  <ion-label>
  <ion-icon name="car-sport-outline"></ion-icon> Mi Auto 
  </ion-label>
</ion-item>

<ion-item detail="true" [routerLink]="['/mensajes']">
  <ion-label>
    <ion-icon name="mail-outline"></ion-icon> Mensajes
  </ion-label>
</ion-item>

<ion-item detail="true" [routerLink]="['/ubicacion']">
  <ion-label>
    <ion-icon name="location-outline"></ion-icon>Mi Ubicacion
  </ion-label>
</ion-item>

<ion-item detail="true" [routerLink]="['/inicio']">
  <ion-label>
    <ion-icon name="power-outline"></ion-icon> Salir
  </ion-label>
</ion-item>