
<ion-item detail="true" [routerLink]="['/cronometro']">
  <ion-label>
  <ion-icon name="time-outline"></ion-icon>  Cronómetro
</ion-label>
</ion-item>

<ion-item detail="true" [routerLink]="['/asistencia']">
  <ion-label>
    <ion-icon name="briefcase-outline"></ion-icon>  Asistencia
</ion-label>

</ion-item>
<ion-item detail="true" [routerLink]="['/domotica']">
  <ion-label>
    <ion-icon name="contract-outline"></ion-icon>  Domótica
</ion-label>
</ion-item>

<ion-item detail="true" [routerLink]="['/mensajes']">
  <ion-label>
    <ion-icon name="mail-outline"></ion-icon> Mensajes
  </ion-label>
</ion-item>

<ion-item detail="true" [routerLink]="['/ubicacion']">
  <ion-label>
    <ion-icon name="location-outline"></ion-icon>Mi Ubicacion
  </ion-label>
</ion-item>

<ion-item detail="true" [routerLink]="['/ajustes']">
  <ion-label>
    <ion-icon slot="start" name="settings-outline"></ion-icon> Ajustes
  </ion-label>
</ion-item>

<ion-item detail="true" [routerLink]="['/inicio']">
  <ion-label>
    <ion-icon name="power-outline"></ion-icon> Salir
  </ion-label>
</ion-item>
