.nombre {
  padding: 10px 10px 10px 10px;
  //  background: rgba(0, 45, 248, 0.452);
  border-bottom: 1px solid #ffffff;
  color: c00;
}
.apellido {
  padding: 10px 10px 10px 10px;
  //background: rgba(0, 174, 255, 0.452);
  color: c00;
}
.correo {
  padding: 10px 10px 10px 10px;
  // background: rgba(0, 174, 255, 0.452);
  color: c00;
}
.auto {
  padding: 10px 10px 10px 10px;
  //  background: rgba(0, 174, 255, 0.452);
  color: c00;
}
.avatar {
  max-width: 10%;
  max-height: 200%;
}

.auto{
    padding: 10px 10px 10px 10px;
   background: rgba(102, 102, 102, 0.384);
    color: c00;
}

.avatarmiperfil{
    margin: 25%;
    width: 50%;
    height: 20%;
}