<ion-content>
  <ion-header class="ion-no-border">
    <ion-toolbar>
      <ion-title color="white">Mi Perfil</ion-title>
      <ion-buttons slot="end">

        <ion-button [routerLink]="['/servicios']" routerLinkActive="router-link-active">
          <ion-icon name="call-outline"></ion-icon>
        </ion-button>

        <ion-button (click)='getCollection($event)' (click)='openMenu($event)'>
          <ion-icon slot="icon-only" name="ellipsis-vertical-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
      <buttoncarro class="botoncarro" slot="start" [routerLink]="['/miauto']">
        <ion-icon name="car-sport-outline"></ion-icon>
      </buttoncarro>


    </ion-toolbar>

    <ion-avatar class="avatarmiperfil">
      <img alt="Perfil" src="https://i.pinimg.com/474x/a8/41/e1/a841e1aee253001c1cfaddd67f4b85dc.jpg">
    </ion-avatar>
  </ion-header>
  <ion-list>
    <div *ngFor="let cliente of clientes">
      <ion-item>
        <ion-label class="nombre">
          <ion-icon name="person-outline" slot="start"></ion-icon>
          NOMBRE: {{cliente.nombre}}
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label class="apellido">
          <ion-icon name="person-outline" slot="start"></ion-icon>
          APELLIDO: {{cliente.apellido}}
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label class="correo">
          <ion-icon name="mail-outline" slot="start"></ion-icon>
          CORREO: {{cliente.correo}}
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label class="auto">
          <ion-icon name="car-outline" slot="start"></ion-icon>
          AUTO: {{cliente.auto}}
        </ion-label>
      </ion-item>
    </div>
  </ion-list>