ion-content.bg-image{
  --background: url(https://static.vecteezy.com/system/resources/previews/002/901/618/non_2x/black-texture-background-free-photo.jpg) 0 0/100% 100% ;
}
.nombre {
  font-size: 160%;
margin-left: 10%;
margin-right: 80%;
text-align: center
}
/*.apellido {
font-size: 130%;
margin-left: 10%;
margin-right: 80%;
color: c00;
}*/
.card{
  color: #ffffff;
  --background:rgba(168, 168, 168, 0.082); 
}
.correo {
  color: #aaa9a9;
  font-size: 120%;
margin-left: 10%;
margin-right: 80%;
text-align: center
}
.auto {
  font-size: 130%;
margin-left: 10%;
margin-right: 10%;
  color: c00;
}
.avatar {
  max-width: 10%;
  max-height: 200%;
}
.avatarmiperfil {
  margin-top: 5%;
  margin-left: 33%;
  width: 30%;
  height: 0%;
}
.botoncarro {
  padding: 20px 20px 20px 20px;
  background: rgb(29, 29, 29);
}
.card{
  color: #ffffff;
  --background:rgba(168, 168, 168, 0.082); 
}