<ion-content class="bg-image" padding>

  <ion-card>
    <h5>
    </h5>
    <ion-card-header>
      <img alt="asistenciavial" class="logo"
        src='https://lh3.googleusercontent.com/qwSRq-cH0TT7_8LChBUig1QGeAvAsW37xcN4wTPhbV5ISVMYdwVvsmvpH_emRMR1JA'>
        <h5>
        </h5>
        <ion-card-title>Bienvenido a Asistencia Vial 24/7 </ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
    <h5>
</h5>
    La  App que te ayuda y te atiende durante tu viaje en carretera
    <h5>
    </h5>
    </ion-card-content>
    <h5>
    </h5>
    <h5>
    </h5>
    <h5>
    </h5>
    <h5>
    </h5>
    <h5>
    </h5>
    <h5>
    </h5>
    <button  [routerLink]="['/inicio']"> Siguiente </button>
    
    <h5>
    </h5>
  </ion-card>
  
</ion-content>
